<h2><%= @task.name %></h2>
<p>checked : <%= @task.done ? "☑" : "☐"%></p>

<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>


<%= link_to "update", edit_task_path(@task) %>
<%= link_to "retour à la liste", tasks_path %>
